.express{
    
    background: #2C343E;
    margin: 0 0 0 40px;
    padding: 80px 80px;
    height: 600px;
    border-radius: 10px;
    width: 1280px;
}
.express_title{
    margin-top: 100px;
font-family: 'Fraunces';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 48px;
text-align: center;
color: #FEFCF7;
}
.express_dis{
font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #FEFCF7;
mix-blend-mode: normal;
opacity: 0.8;
width: 540px;
margin-left: 270px;
}
.express_ul{
    display: flex;
    margin-top: 60px;
    margin-left:-105px;
    
}
