.hero__title{
    height: 145px;
    width: 600px;
font-family: 'Fraunces';
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 72px;
color: #FEFCF7;

}
.hero{
    background-image:url(/images/hero_img_bg.png);
    background-repeat: no-repeat;
     background-position: 40px 0;
     height: 600px;
     padding: 50px 0 0 80px;
     border-radius: 20px;
}
.hero__p{
    font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #FEFCF7;
opacity: 0.8;
mix-blend-mode: normal;
width: 400px;
height: 70px;
margin-top: 40px;
}
.hero_btn{
    margin-top: 81px;
    background: #0E8784;
    border-radius: 6px;
    width:250px;
    height: 50px;
    // text-align: center;
    // align-items: center;
    // justify-content: center;
    // line-height: 25px;
    // margin: 0 0 0 20px;
    margin-left: 17px;
    border: none;
    color: #fff;

}
.hero__link{
font-family: 'Fraunces';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 25px;
text-align: center;
color: #FEFCF7;
}
.hero_btn:active{
    background: #66D2CF;

}